.post {
    background: #ffffff;
    padding-left: 0;
}

.post-card {
    margin: 20px;
    border: 1px;
    transition: all 0.25s linear;
    cursor: pointer;
}

.post-card:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.post-image {
    height: 400px;
}

.post-tag {
    display: block;
    font-size: 15px;
    text-transform: lowercase;
    margin: 5px 0;
}

.post-title {
    color: #FF7C26;
    padding: 0px;
    font-size: 50px;
    text-decoration: none;
}

.post-date {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

.post-description {
    font-size: 15px;
    margin: 14px auto;
    text-align: justify;
}

