<div>
  <table class="table table-hover">
    <tbody>
      <tr *ngFor="let invite of invitedMe">
        <td>
          <img class="user-image" src="assets/images/{{ invite.user.user_image_url }}" />
        </td>
        <td>
          <button (click)="goToUserProfile(invite.user.id)" type="button" class="btn btn-link">{{ invite.user.first_name }} {{ invite.user.surname }}</button>
        </td>
        <td>
          {{ invite.film.title }}
        </td>
        <td>
          <span [ngClass]="getBageClasses(invite.status)"> {{ getStatusText(invite.status) }} </span>
        </td>
        <td>
          <button (click)="rejectInvite(invite.id)" [disabled]="invite.status === '2'" type="button" class="close" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Отклонить">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>