@import "assets/css/star-rating.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #F8F8F8;
    font-family: "Roboto", sans-serif;
}

a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
}

td {
    vertical-align: middle !important;
}

button:hover,
a:hover {
    cursor: pointer !important;
}

td i,
span i {
    vertical-align: middle;
}

.ng-valid[required], .ng-valid.required  {
    border: 1px solid #42A948;
}

.ng-invalid:not(form)  {
    border: 1px solid #a94442;
}

.user-image {
    width: 50px;
    height: 50px;
}

.button-fixed-width {
    width: 150px;
}

.card-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title {
    font-weight: bold;
}