<div class="container film-body" *ngIf="film">
    <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ errorMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <img src="assets/images/wide-posters/{{ film.wide_img_url }}" class="wide-poster" />
    </div>
    <div class="row">
    <div class="col-md-10">
        <span class="film-title">{{ film.title }}</span>
        <span class="film-period">В кино с {{ film.release_date | date:'mediumDate':'':'ru' }}</span>
        <span class="film-director">{{ film.director }}</span>
        <span>{{ film.running_time | date:'h:mm':'UTC' }}</span>
        <p class="film-description">{{ film.description }}</p>
    </div>
    <div class="col-md-2">
        <span class="film-actors" *ngFor="let actor of actors">
            {{ actor }}
        </span>
    </div>
    </div>
    <div class="row col-md-10">
        <div class="col-md-2">
            ratings
        </div>
        <div class="col-md-10">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let filmUser of film.users">
                            <th scope="row">
                                <img src="assets/images/{{ filmUser.userImageUrl }}" />
                            </th>
                            <td>
                                <button (click)="goToUserProfile(filmUser.id)" type="button" class="btn btn-link">{{ filmUser.first_name }} {{ filmUser.surname }}</button>
                            </td>
                            <td>
                                <button *ngIf="filmUser.id != user.id" (click)="invite(filmUser.id)" type="button" class="btn btn-link">Пригласить!</button>
                                <button *ngIf="filmUser.id == user.id" (click)="unsubscribe()" type="button" class="btn btn-link">Больше не хочу!</button>
                            </td>
                        </tr>
                </tbody>
            </table>
            <div *ngIf="user">
                <button *ngIf="!isUserSubscribed" (click)="subscribe()" type="button" class="btn">Хочу тоже!</button>
                <button *ngIf="isUserSubscribed" (click)="unsubscribe()" type="button" class="btn">Больше не хочу!</button>
            </div>
        </div>
    </div>
</div>