.wide-poster {
    padding: 10px;
    width: 100%;
    height: 350px;
}

.film-title,
.film-period,
.film-director,
.film-actors {
    display: block;
}

.film-description {
    text-align: justify;
}

.film-body {
    background: #ffffff;
}