.header {
    position: relative;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.header-title {
    margin-left: -20px;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Economica", sans-serif;
}

.header-title:hover {
    text-decoration: none;
}

.user-profile {
    width: 50px;
    height: 50px;
}

.header-user {
    position: absolute;
    top: 15px;
    right: 0px;
    margin: 0 50px 0 0;
}