.header {
    position: relative;
    text-align: center;
    padding: 50px 0 50px;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

#header-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}

.user-profile {
    width: 50px;
    height: 50px;
}

.header-left {
    position: absolute;
    top: 50px;
    right: 50px;
    margin: 0 50px 0 0;
}